.navbar{
  position: fixed;
  /* background-color: crimson; */
  width: 100%;
  padding: 30px 0px;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
  z-index: 999;
}

.navbar.sticky{
  padding: 15px 0px;
  background-color: var(--primary-color);

}
.navbar.sticky .logo span{
  background-color: white;

}
.navbar.sticky li a:hover{
  background-color: white;
}

.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a{
  color: white;
  font-size: 45px;
  font-weight: 600;
}
.navbar .logo a span{
  color: var(--primary-color);
}

.navbar .menu li{
  list-style: none;
  display: inline-block;
}
.navbar .menu li a{
  display: block;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 20px 10px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover{
  color: var(--primary-color);
}

.max-width{
  max-width: 1300px;
  padding: 0px 80px;
  margin: auto;
}

.menu-btn{
  color: white;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.scroll-up-btn{
  position: fixed;
  height: 45px;
  width: 42px;
  background: var(--primary-color);
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show{
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover{
  filter: brightness(90%);
}
