<div *ngIf="spinner" class="loader_bg">
  <div class="loader">

  </div>
</div>

<div class="scroll-up-btn">
  <i class="fas fa-angle-up"></i>
</div>

<!-- navbar section -->

<app-navbar></app-navbar>

<!-- home section -->

<section class="home" id="home">
  <div class="max-width">
    <div class="home-content min-w-[100%] pr-1 w-full">
      <div class="text-1">Hello, my name is</div>
      <div class="text-2">{{title}}</div>
      <div class="text-3 flex flex-wrap min-w-[100%]">I am a <span class="typing ml-2"> {{profession}} </span></div>
      <a class="btn" href="#contact">Hire me</a>
    </div>
  </div>
</section>

<!-- about section -->

<section class="about" id="about">
  <div class="max-width">
    <h2 class="title">About Me</h2>
    <div class="about-content">
      <div class="column left">
        <img src="../../../assets/profile3.jpeg" alt="my_pic">
      </div>
      <div class="column right">
        <div class="text">I am Sani & I'm a <span class="typing-2">Full Stack Web Developer</span></div>
        <p>As a skilled Software Engineer, I specialize in full-stack web development,
          API integration, and e-commerce solutions. With a strong foundation in computer science,
          I excel at creating scalable, user-focused applications. Proficient in Angular, Node.js,
          and Ionic, I design and implement high performance systems while leading teams to
          solve complex problems and deliver impactful solutions that drive business success
        </p>
        <a class="btn" href="../../assets/saniulislam.pdf" target="_blank">Download CV</a>
      </div>
    </div>
  </div>

</section>

<!-- Service Section -->
<section class="services" id="services">
  <div class="max-width">
    <h2 class="title">My Services</h2>
    <div class="services-content">

      <div *ngFor="let service of services" class="card">
        <div class="box">
          <i class="fas fa-paint-brush"></i>
          <div class="text">{{service.name}}</div>
          <p>{{service.description}}
          </p>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- skills section start -->
<section class="skills" id="skills">
  <div class="max-width">
    <h2 class="title">My skills</h2>
    <div class="skills-content">
      <div class="column left">
        <div class="text">My creative skills & experiences.</div>
        <p>Beside the skills mentioned aside, i am an active listener. I also love to lead the way from the
          front. Solving problems is always fun for me. Moreover, inspiring your fellow mates to work
          harder and showing a never give up attitude is also one of my strength.</p>
        <a class="btn" id="read-more" href="#">Read more</a>
      </div>
      <div class="column right">
        <div class="bars" *ngFor="let skill of skills">
          <div class="info">
            <span>{{skill.name}}</span>
          </div>
          <nz-progress [nzPercent]="skill.progress" [nzStrokeColor]="{ '0%': '#2195bb', '100%': '#87d068' }"></nz-progress>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- My Projects -->

<section class="projects" id="projects">
  <h2 class="title">Recent Projects</h2>
  <div class="max-width justify-between">
    <app-project-card class="mr-2" *ngFor="let project of projects" [data]="project"></app-project-card>
  </div>
</section>


<!-- contact section start -->
<section class="contact" id="contact">
  <div class="max-width">
    <h2 class="title">Contact me</h2>
    <div class="contact-content">
      <div class="column left">
        <div class="text">Get in Touch</div>
        <p>If you want to hire me for a job or a simple project feel free to contact me. I hope that you will not be
          disappointed.</p>
        <div class="icons">
          <div class="row">
            <i class="fas fa-user"></i>
            <div class="info">
              <div class="head">Name</div>
              <div class="sub-title">Saniul Islam</div>
            </div>
          </div>
          <div class="row">
            <i class="fas fa-map-marker-alt"></i>
            <div class="info">
              <div class="head">Address</div>
              <div class="sub-title">DOHS Baridhara, Dhaka, Bangladesh</div>
            </div>
          </div>
          <div class="row">
            <i class="fas fa-envelope"></i>
            <div class="info">
              <div class="head">Email</div>
              <div class="sub-title">{{email}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="column right">
        <div class="text">Message me</div>
        <form class="contact-form" id="contact-form">
          <div class="fields">
            <div class="field">
              <input id="name" type="text" placeholder="Name" required>
            </div>
            <div class="field">
              <input id="email" type="email" placeholder="Email" required>
            </div>
          </div>
          <div class="field">
            <input class="subject" type="text" placeholder="Subject" required>
          </div>
          <div class="field textarea">
            <textarea class="message" cols="30" rows="10" placeholder="Message.." required></textarea>
          </div>
          <div class="button-area">
            <button class="btn" id="send-message" type="submit" onclick="submitForm()">Send message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>




<!-- footer section start -->
<footer>
  <span>Created By <a href="https://www.facebook.com/saniulislam39/">Saniul Islam</a> | <span
      class="far fa-copyright"></span> {{year}} All rights reserved.</span>
</footer>
